@use '../base/settings' as settings;
@use 'sass:color';

.btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: .7rem 1rem;

  transition: color .3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: color.adjust($color: white, $lightness: -15%);

  }


}

.btn-primary {
  background-color: hsl(settings.$primary);
  border-radius: .2rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;


  &:hover {
    background-color: color.adjust($color: hsl(settings.$primary), $lightness: 15%);
  }

  &:disabled {
    background-color: color.adjust($color: hsl(settings.$primary), $lightness: -5%);
    cursor: not-allowed;
  }
}

.btn-block {
  display: block;
  width: 100%;
}
.btn-danger {
  background-color: hsl(settings.$error);
  border-radius: .2rem;
  font-weight: 700;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;

  &:hover {
    background-color: color.adjust($color: hsl(settings.$error), $lightness: 15%);
  }

  &:disabled {
    background-color: color.adjust($color: hsl(settings.$error), $lightness: -5%);
    cursor: not-allowed;
  }
}