@use '../base/settings' as settings;
@use 'sass:color';

.auth__main {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: hsl(settings.$primary);
  margin: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.auth__box-container {
  background-color: white;
  -webkit-box-shadow: .2rem .3rem .9rem .1rem #dddddd;
  -moz-box-shadow: .2rem .3rem .9rem .1rem #dddddd;
  box-shadow: .2rem .3rem .9rem .1rem #dddddd;
  border-radius: 0.5rem;
  padding: 2rem;
  margin: 25rem;
  height: fit-content;
}

.auth__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: color.adjust($color: hsl(settings.$primary), $lightness: -20%);
}

.auth__input {
  color: hsl(settings.$dark-grey);
  border: none;
  border-bottom: .1rem solid hsl(settings.$light-grey);
  font-size: 1.6rem;
  margin-bottom: 1rem;
  height: 2.5rem;
  width: 100%;

  transition: border-bottom .3s ease;

  &:focus {
    border-bottom: .1rem solid hsl(settings.$primary);
    outline: none;
  }

}

.auth__social-networks {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

.auth__alert-error {
  background-color: hsl(settings.$secondary);
  border-radius: .5rem;
  color: white;
  display: flex;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem;
}